{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block subtitle %}
    {% trans "password reset" %}
{% endblock %}

{% block content %}
    <p>An email with instructions will be sent to the address informed below.</p>
    <div class="login">

        <form method="post" action="">
            {{ form.non_field_errors }}

            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <p>
                {{ form.email.errors }}
                <label for="id_email">{% trans "email" %}</label>
                {{ form.email|add_class:"field" }}
            </p>

            <input type="submit" class="button" value="{% trans "reset" %}"
                   style="float:right"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

    </div>
{% endblock %}
