{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block subtitle %}
    {% trans "password reset" %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Create a new password.</p>
        <div class="login">
            <form method="post" action="">
                {{ form.non_field_errors }}

                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <p>
                    {{ form.username.errors }}
                    <label for="id_new_password1">{% trans "new password" %}</label>
                    {{ form.new_password1|add_class:"field" }}
                </p>

                <p>
                    {{ form.password.errors }}
                    <label for="id_new_password2">{% trans "once more" %}</label>
                    {{ form.new_password2|add_class:"field" }}
                </p>

                <input type="submit" class="button"
                       value="{% trans "reset" %}"
                       style="float:right"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    {% else %}
        <p>{% trans "Password reset failed. This link is no longer valid." %}</p>
    {% endif %}
{% endblock %}

