{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
    <title>cose | {% trans "collaborative segmentation" %} |
        {% block subtitle %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{% static "common/css/base.css" %}">
{#    <script src="{% static "common/script/less-1.3.0.min.js" %}"></script>#}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="title">
    <a class="title" href="/">Collaborative Segmentation</a>
</div>

<div class="nav">
{% block nav %}
    {% if user.is_authenticated %}
        {% trans "Welcome Usuário(a)," %} <a href="{% url crowd:profile_index %}">{{ user.username }}</a> &bull;
        <a href="{% url crowd:ranking_index %}">{% trans "ranking" %}</a> &bull;
        <a href="{% url auth_logout %}">{% trans "log out" %}</a> &bull;
    {% else %}
        <a href="{% url auth_login %}">{% trans "log in" %}</a> &bull;
        <a href="{% url registration_register %}">{% trans "new account" %}</a> &bull;
    {% endif %}
    <a href="about.html">about</a> &bull;
    <a href="help.html">help</a>

{% endblock %}
</div>

<div class="strip">
    {% block content %}{% endblock %}
</div>

{% block footer %}
    <p style="margin-left: 10px">&copy; <a href="http://www.cacr.caltech.edu/">Center
        for Advanced Computing Research</a> &bull;
        <a href="http://www.caltech.edu/">California Institute of Technology</a></p>
{% endblock %}

</body>

</html>
